ISSUER=http://localhost:8080
KEYS_DIR=./secrets/keys
ACTIVE_KID=key-2026-10
CLIENTS_PATH=./secrets/clients.json
# USERS_PATH=./secrets/users.json
BIND_ADDR=0.0.0.0:8080
TOKEN_TTL_SECONDS=120
RUST_LOG=info
